* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0b2434;
  overflow: hidden;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

main {
  background-color: #f5f5f5;
  height: 500px;
  max-width: 40%;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 40px;
  margin: 0;
  text-transform: uppercase;
}

.instuctions {
  width: 80%;
  font-size: 1.4rem;
  text-align: center;
}

.container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 2rem;
}

.dice {
  width: 4rem;
  height: 4rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.8rem;
}

.dice.isheld {
  background-color: #59E391;
}

main button {
  font-size: 1.2rem;
  width: 8rem;
  height: 3rem;
  border-radius: 6px;
  border: none;
  color: white;
  background-color: #5035FF;
}

main button:focus {
  outline: none;
}

main button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

h3 {
  font-size: 1.8rem;
}

@media (max-width: 576px) {
  main {
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    padding: 5rem 0 10rem 0;
  }

  .instuctions {
    width: 100%;
  }

  .container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 1rem;
  }

  .dice {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 8px;
    font-size: 1.5rem;
  }

  .Navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #5035FF;
    border-radius: 2rem 2rem 0 0;
  }

  .Navbar ul {
    display: grid;
    grid-template: auto auto / repeat(3, 1fr);
    list-style-type: none;
  }

  .Navbar ul li {
    padding: 1.2rem 2rem;
  }

  .navbar-icon {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    position: relative;
  }

  li.active {
    text-decoration: none;
    font-size: 1.2rem;
    color: #5035FF ;
    background-color: #fff;
    transition: 0.5s;
  }

  li:first-child {
    border-radius: 1.9rem 0 0 0;
  }

  li:last-child {
    border-radius: 0 1.9rem 0 0;
  }
  li.active a {
    color: #5035FF;
  }
}